.social {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  &__item {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
  }
  &__item__image {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__item__content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    h3 {
      font-size: 1rem;
      font-weight: 500;
      color: #7a839f;
      margin: 0;
      line-height: 1.4;
      transition: color 0.3s ease;
    }
  }
}
