.graph-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.graph-title {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--color-card-text, #ffffff);
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.graph-wrapper {
  width: 100%;
  height: 300px;
  // min-height: 300px;
  flex: 1;
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.graph-svg {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.graph-area {
  transition: opacity 0.3s ease;
}

.graph-line {
  transition: stroke-width 0.3s ease;
}

.graph-dot {
  transition: r 0.3s ease;
  cursor: pointer;

  &:hover {
    r: 6;
  }
}

.graph-axis-text {
  user-select: none;
}
