.leadcontainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;

  &__1 {
    flex: 1;
  }

  &__2 {
    flex: 2;
  }

  &__3 {
    flex: 1;
    flex-grow: 1;
  }

  @media (max-width: 768px) {
    &__1,
    &__2 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}
